.sidemenu {
    width: 15%;
    background-color:#FFFFFF;
    height: 100vh;
    position: relative;
    flex-direction: column;
    display: flex;
    min-width: 200px;
}

.logo-image{
    padding: 20px;
    background-color: #FFFFFF;
}

.side-footer{
    position: absolute;
    bottom:0px;
    width: 100%;
}